.outer {
    background-image: url('/static/images/view.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
}

.bg-dark-light {
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 15px;
}
.outlook{
  font-size: 3.3rem;
}
.form-control-dark {
    background-color: #6ee7b7 !important;
    color: #111 !important;
}


.form-label{
    font-weight: 600;
}
/* Placeholder text color */
.form-control-dark::placeholder {
    color: #888;
}

/* Fix input background on focus */
.form-control-dark:focus {
    background-color: #a7f3d0!important;
    color: #111 !important;
    outline: none;
    box-shadow: none;
}

/* Prevent browser autofill from changing background */
.form-control-dark:-webkit-autofill {
    background-color:#6ee7b7 !important;
    -webkit-box-shadow: 0 0 0px 1000px #6ee7b7 inset !important;
    -webkit-text-fill-color: #111 !important;
    transition: background-color 9999s ease-out;
}


.text-white {
    color: white !important;
}

h1, h2 {
    color: black;
}

.card-body h2 {
    color: white;
}


.outlook{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 0;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 850px;
    margin: 0 auto; 
}

/* Container to center the button */
.button-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 0 20px;
  }
  
  /* Custom Predict Button Styling */
  .predict-btn {
    background-color: #451a03; /* Bootstrap's btn-danger color */
    color:white;
    font-size: 1.25rem; /* Equivalent to btn-lg */
    margin-top: 1rem; /* mt-3 */
    width: 100%; /* w-100 */
    padding: 0.75rem 1.25rem;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .predict-btn:hover {
    background-color: #713f12; 
  }

  .prediction-result h1{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;    
  }
  
  .prediction-result h2{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;  
    color: oklch(41% 0.159 10.272);   
    margin: 20px;
  }
  
  .prediction-result h3{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    text-align: center;   
  }

.prediction-text{
    color: white !important;
}
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .prediction-result {
    animation: fadeIn 0.8s ease-in-out;
    animation-delay: 0.5s;
  }
  
